<p id="notice"><%= notice %></p>

<p>
  <strong>From location:</strong>
  <%= @order.from_location %>
</p>

<p>
  <strong>To location:</strong>
  <%= @order.to_location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @order.details %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
